.content {
  @extend %navigation-border;
  padding-right: 0 !important;
}

@media #{$small-only} {

  .content {
    border: 0 !important;
    display: block !important;
    padding: 0.25rem $mobile-lr-padding 0 $mobile-lr-padding !important;
  }

  .content.mobile-nav-open {
    //padding-top: 1.25rem !important
  }
}
