// @import './settings';

body {
  @extend %background-color;
  @extend %custom-font;
}

@each $font-weight in 100, 300, 400, 700 {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}

@each $pos in top, bottom, right, left {
  .no-padding-#{$pos} {
    padding-#{$pos}: 0 !important;
  }

  .no-margin-#{$pos} {
    margin-#{$pos}: 0 !important;
  }
}

.display-block {
  display: block !important;
}

.display-table {
  @extend %display-table;
}

.display-table-cell {
  @extend %display-table-cell;
}

.align-top {
  @extend %align-top;
}

.position-relative {
  position: relative !important;
}

.narrative {

  img {
    padding-bottom: 1rem;
  }

  a {
    @extend %button-color;
  }
}

.page-narrative {
  @extend %navigation-color;

  p {
    margin-bottom: 1rem;
  }

  a {
    color: $navigation-color;
  }

  h1, h2, h3, h4, h5 {
    @extend %lighter-font;
    font-size: 1.5rem;
    color: $navigation-default-hover-color;
    margin-bottom: 0.375rem;
  }
}
