@import './settings';

body {
  @extend %background-color;
  @extend %custom-font;
}

@each $font-weight in 100, 300, 400, 700 {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}

@each $pos in top, bottom, right, left {
  .no-padding-#{$pos} {
    padding-#{$pos}: 0 !important;
  }

  .no-margin-#{$pos} {
    margin-#{$pos}: 0 !important;
  }
}

.display-block {
  display: block !important;
}

.display-table {
  display: table;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.align-top {
  vertical-align: top;
}

.position-relative {
  position: relative !important;
}

.narrative {

  img {
    padding-bottom: 1rem;
  }

  a {
    @extend %button-color;
  }
}
