@import './settings';

.logo-table-cell {
  @extend %navigation-width;
  @extend .display-table-cell;
  @extend .align-top;
}

.logo {
  @extend %navigation-border;
}

@media #{$small-only} {

  .logo-table-cell {
    display: table;
    width: 100% !important;
    height: 148px;
  }

  .logo {
    display: table-cell;
    vertical-align: middle;
    border: 0 !important;
    padding: 0 !important;

    img {
      height: 100px;
      width: auto;
    }

  }

}
