// @import './settings';

.logo-table-cell {
  @extend %navigation-width;
  @extend %display-table-cell;
  @extend %align-top;
}

.logo {
  @extend %navigation-border;
}

@media #{$small-only} {

  .logo-table-cell {
    display: table !important;
    //height: 148px;
    height: 74px;
    padding: 0 $mobile-lr-padding;
    width: 100% !important;
  }

  .logo {
    border: 0 !important;
    display: table-cell;
    padding: 0 !important;
    vertical-align: middle;

    img {
      //height: 100px;
      height: 50px;
      width: auto;
    }

  }

}
