@import './settings';

.main-view-table {
  @extend %display-table;
}

.main-view {

  @extend %fixed-window;
  padding: 2.375rem 2rem;
  -webkit-overflow-scrolling: touch;

  .customize-support & {
    top: $wp-admin-bar-height;
  }

}

@media #{$small-only} {
  .main-view-table {
    display: block !important;
  }

  .main-view {
    padding: 0;
  }
}
