@import './settings';

.main-nav-table-cell {
  @extend %navigation-width;
  @extend %display-table-cell;
  @extend %align-top;
}

.main-nav {
  @extend %navigation-border;

  a {
    @extend %navigation-color;
    @extend %lighter-font;
    @extend %uppercase;
    display: block;
    transition: color 500ms;

    &:hover {
      @extend %navigation-hover-color;
    }
  }

  ul {
    font-size: 1.25rem;
    list-style: none;
    margin: 0;

    li {
      padding: 0.313rem 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &.current-menu-item a {
        @extend %navigation-hover-color;
      }

    }

  }

}

@media #{$small-only} {
  .main-nav-table-cell {
    background-color: $navigation-mobile-background-color;
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms;
    width: auto !important;

    &.display-block {
      max-height: 500px;
    }
  }

  .main-nav {
    border: 0 !important;
    padding: 0.563rem $mobile-lr-padding 0.875rem !important;

    ul {
      font-size: 2.25rem;

      li {
        padding: 0.5rem 0;
      }

    }
  }

}

//weird hack to make sure this displays as a table-cell
//when the main nav is open on mobile screen and then gets bigger :/
@media #{$medium-up} {
  .main-nav-table-cell.display-block {
    display: table-cell !important;
  }
}
