@import './settings';

.modal {
  @extend %fixed-window;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  padding-bottom: $modal-header-height;
  padding-top: $modal-header-height;
  z-index: 2;

  .modal-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 $mobile-lr-padding;
  }

  .header {
    background-color: #4e83b0;
    border-top-left-radius: $modal-header-radius;
    border-top-right-radius: $modal-header-radius;
    height: $modal-header-height;
    z-index: 2;

    .title {
      @extend %white;
      @extend %uppercase;
      @extend %lighter-font;
      font-size: 1.375rem;
      padding-left: 2rem;
      padding-top: 0.125rem;
    }
  }

  .body {
    background-color: $modal-background-color;
    border-bottom-left-radius: $modal-header-radius;
    border-bottom-right-radius: $modal-header-radius;
    position: relative;
    z-index: 1;
  }

  .media {
    border-bottom-left-radius: $modal-header-radius;
    padding: $modal-body-padding $modal-body-padding $modal-body-padding/2;
    width: 70%;

    img {
      @extend %hundred-width;
      padding-bottom: 1rem;
    }
  }

  .narrative {
    background-color: $modal-narrative-background-color;
    border-bottom-right-radius: $modal-header-radius;
    padding: $modal-body-padding 1.5rem $modal-body-padding/2;
    width: 30%;

    .title {
      @extend %uppercase;
      border-bottom: 1px solid #fff;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      padding-bottom: 0.25rem;
    }
  }
}

.customize-support {
  .modal {
    padding-top: $modal-header-height + $wp-admin-bar-height;

    .header {
      top: $wp-admin-bar-height;
    }
  }
}

@media #{$medium-down} {
  .modal {

    .body,
    .media,
    .narrative {
      display: block;
      width: 100%;
    }

    .narrative {
      border-bottom-left-radius: $modal-header-radius;
    }

  }
}
