@import './settings';

.mobile-nav-toggle {
  display: none;
  text-align: right;
  vertical-align: middle;
}

//shamelessly stolen from http://codepen.io/elijahmanor/pen/Igpoe

$nav-toggle-width: 75px;
$nav-toggle-height: 10px;
$nav-toggle-offset: 18px;

.nav-toggle {
  cursor: pointer;
  padding: 10px $nav-toggle-width 16px 0px;
  display: inline-block;

  span, span:before, span:after {
    cursor: pointer;
    border-radius: 4px;
    height: $nav-toggle-height;
    width: $nav-toggle-width;
    background: $nav-toggle-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }

  span:before {
    top: -$nav-toggle-offset;
  }

  span:after {
    bottom: -$nav-toggle-offset;
  }

  &.active {

    span {
      background-color: transparent;
    }

    span:before, span:after {
      top: 0;
    }

    span:before {
      transform: rotate(45deg);
    }

    span:after {
      transform: rotate(-45deg);
    }

  }

}

@media #{$small-only} {

  .mobile-nav-toggle {
    display: table-cell;
  }

}
