@import './settings';

.portfolio {

  .portfolio-loading {
    @extend %navigation-color;
    @extend %uppercase;
    @extend %lighter-font;
    @extend  %absolute-window;
    font-size: 2rem;
    text-align: center;
    top: 80px;
  }

  .portfolio-items {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  &.loaded {
    .portfolio-items {
      opacity: 1;
    }

    .portfolio-loading {
      display: none;
    }
  }

  .portfolio-item {
    border-top: 1rem solid #fff;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:after, {
      @extend %uppercase;
      @extend %absolute-window;
      content: '';
      font-size: 1.25rem;
      font-weight: 300;
      height: 101%; //weird hack to make sure overlay covers the image completely
      padding-top: 29.5%;
      text-align: center;
      z-index: 1;
    }

    a {
      background-color: $background-color;
      opacity: 1;
      padding-top: 0.5rem;
      transition: opacity 0.5s ease-in;
      z-index: 2;
    }

    &:hover a {
      opacity: 0;
    }

  }
}

@media #{$small-only} {

  .portfolio .portfolio-item:hover a {
    opacity: 1;
  }

}
