$background-color: #131509;
$navigation-color: #989997;
$navigation-color-dark: #707070;
$nav-toggle-color: #d8d8d8;
$custom-font: 'Open Sans', sans-serif;;
$border-color: $navigation-color;
$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $border-color;

$link-color: #4e83b0;
$modal-header-height: 50px;
$modal-background-color: #f0f0f0;
$wp-admin-bar-height: 32px;

$logo-width: 157px;
$navigation-padding: 20px;
$navigation-width: 164px; //$logo-width + ($navigation-padding*2);

%background-color {
  background-color: $background-color;
}

%navigation-color {
  color: $navigation-color;
}

%navigation-color-dark {
  color: $navigation-color-dark;
}

%custom-font {
  font-family: $custom-font;
}

%uppercase {
  text-transform: uppercase;
}

%white {
  color: #fff;
}

%lighter-font {
  font-weight: lighter;
}

%fixed-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

%absolute-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%navigation-border {
  border-left: $border;
  padding: 0 $navigation-padding;
}

%navigation-width {
  width: $navigation-width;
  min-width: $navigation-width;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
